
<h1>ギャラリー</h1>
<div class="container">
    

  <div class="row main_conte">
    <% @pictures.each do |picture| %>
      <div class="col-xs-12 col-md-3 blog-panel">
        <table border=0>
          <tr>
            <td><%= image_tag(picture.image) %></td>
          </tr>
          <tr>
            <td>投稿者:<%= picture.user.name %>さん</td>
          </tr> 
          <tr>
            <td>内容:<%= picture.content %></td>
          </tr> 
          <tr>
          <%# ログインしていたら詳細を確認する を表示させる %>            
          <% if user_signed_in? %>
            <td><%= link_to '詳細を確認する', picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %></td>
          <% end %>
          </tr>
          <tr>
         <% if picture.user_id == current_user %>
            <td><%= link_to "画像とコメントを編集する", 
                  edit_picture_path(picture.id), 
                  data: { confirm: '本当に編集していいですか？' } %></td>
          </tr>
          <tr>
            <td><%= link_to 'ブログを削除する', 
                  picture(picture.id), method: :delete ,
                  data: { confirm: '本当に削除していいですか？' } %></td>

          <% end %>
          </tr> 
        </table>
      </div>
    <% end %>
  </div>
</div>

